@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  max-width: 100%;
}


:root{
  --primary-font:'mono';
  --secondary-font:'Robot',sans-serif;
  --primary-text-color: black
}


.primary{
  font-family: var(--primary-font);
}

.secondary{
  font-family: var(--secondary-font);
}

body{
  font-family: var(--primary-font);  
  user-select: none;
  width: 100dvw;

  padding: 0;
  margin: 0;
}

button{
  cursor: pointer;
}